<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <fieldset>
        <legend>Post</legend>
        <form action="/data" method="post">
            <input type="text" placeholder="Enter user name...." name="username">
            <br><br>
            <input type="text" placeholder="Write comnet...." name="comment">
            <br><br>

            <button>Submit</button>
        </form>
    </fieldset>
</body>

</html>