<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>new api route</title>

</head>

<body>

    <h1>Card detail's</h1>
    <div class="comment-list">
        <div class="comment-item">
            <h2>0<%= newData.id %>
            </h2>
            <h3 class="username">
                <%= newData.username %>
            </h3>
            
            <p class="comment">
                <%= newData.comment %>
            </p>

        </div>
    </div>
</body>

</html>